a {
  text-decoration: none !important ;
  /* color: black !important; */
}
p{
    margin-bottom: 0 !important;
}

.carousel,
.carousel-inner,
.carousel-item {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

.carousel-item {
  padding: 0 !important;
  margin: 0 !important;
}

.carousel-indicators,
.carousel-control-prev,
.carousel-control-next {
  display: none !important;
}
