@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import "tailwindcss";

@theme {
  --font-primary: "Quicksand", sans-serif;

  --color-button: #0A4253;
}
