@import url("https://fonts.googleapis.com/css2?family=Mr+Dafoe&family=Quicksand:wght@300..700&display=swap");
@import "tailwindcss";

@theme {
  --font-primary: "Quicksand", sans-serif;
  --font-subHeading: "Mr Dafoe", cursive;

  --color-button: #0a4253;
  --color-red-btn: #d32300;
  --color-banner-one: #e2eecd;
}
